@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 202 71% 95%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 207 69% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 205 60% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 205 60% 92%;
    --muted-foreground: 224 71% 25%;
    --accent: 283 44% 47%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 50% 80%;
    --input: 207 50% 80%;
    --ring: 207 69% 53%;
    --chart-1: 207 69% 53%;
    --chart-2: 283 44% 47%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 22%;
    --muted-foreground: 210 40% 98%;
    --accent: 283 44% 67%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 210 40% 98%;
    --chart-1: 210 40% 98%;
    --chart-2: 283 44% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
